<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nichols 2011 Escherichia coli data query - OMPwiki</title>
    <link href="/static/my_CSS.css" rel="stylesheet"/>
</head>

<script>
function showInput(){
    var input1=document.getElementById("conditional input 1").value; <!--#ref:https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/learn/lecture/6598240#overview-->
    var input2=document.getElementById("conditional input 2").value;
    var txtOutput1 = document.getElementById("txtOutput1")
    var txtOutput2 = document.getElementById("txtOutput2")
    var input1_value = input1.value;
    var input2_value = input2.value;

    txtOutput1.value=input1_value
    txtOutput2.value=input2_value

}
</script>


<body>


<h1>Nichols 2011 Escherichia coli data query</h1>

<h2>Background</h2>
This databrowser queries data from Nichols et al. 2011 Cell article <a href="https://www.ncbi.nlm.nih.gov/pubmed/21185072">(PUBMED)</a>.


<h2>References</h2>


<h2>Search</h2>
Select a search type:



			<h2>Based on</h2>





<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Growth data (Strain/Condition)'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Correlations among conditions'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Correlations among strains'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Conditions'>
</form></br>





<form method="POST" action="">
  conditional input 1: <input type='text' name='input1' value=''></br>
  conditional input 2: <input type='text' name='input2' value=''></br>
<input type="submit">
</form>




<h2>Search results</h2>

<table border=1>

    <td><b>strain 1</b></td> <!--simply wrap the <b> tag outside of the whole table didn't work-->
    <td><b>strain 2</b></td>
    <td><b>pcc</b></td>
    <td><b>spearman</b></td>
    <td><b>mi</b></td>
    <td><b>ternary mi</b></td>
    <td><b>ternary mi - condition collapsed</b></td>

                {% for result_ in result %} <!-- this is Jinja -->
                    <tr>

                        <td>{{ result_[0] }}</td>
                        <td>{{ result_[1] }}</td>
                        <td>{{ result_[2] }}</td>
                        <td>{{ result_[3] }}</td>
                        <td>{{ result_[4] }}</td>
                        <td>{{ result_[5] }}</td>
                        <td>{{ result_[6] }}</td>
                    </tr>
                {%  endfor %}
</table>


</body>
</html>