<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nichols 2011 Escherichia coli data query - OMPwiki</title>
    <link href="/static/my_CSS.css" rel="stylesheet"/>
</head>


<body>


<h1>Nichols 2011 Escherichia coli data query</h1>

<h2>Background</h2>
This databrowser queries data from Nichols et al. 2011 Cell article <a href="https://www.ncbi.nlm.nih.gov/pubmed/21185072">(PUBMED)</a>.


<h2>References</h2>


<h2>Search</h2>
Select a search type:



			<h2>Based on</h2>





<form action=""> <!--action="http://peterwu19881230.pythonanywhere.com/hello/" method="get"-->
				<input type='radio' name='choices'>Growth data (Strain/Condition)</br>
				<input type='radio' name='choices'>Correlations among conditions</br>
				<input type='radio' name='choices'>Correlations among strains</br>
				<input type='radio' name='choices'>Conditions</br>
</form>
</br>




<form method="POST" action=""> <!-- need to work on how to display large table as the search result-->
  strain1: <input type='text' name='input1' value=''> <!--Need to display the forms based on the radios selected above (https://stackoverflow.com/questions/3961422/conditional-display-of-html-element-forms)-->
  strain2: <input type='text' name='input2' value=''>
  </br>
  </br>
<input type="submit">
</form>

<form method="POST" action="">
  strain: <input type='text' name='input3' value=''>
  condition: <input type='text' name='input4' value=''>
  </br>
  </br>
<input type="submit">
</form>

<form method="POST" action="">
  condition1: <input type='text' name='input5' value=''>
  condition2: <input type='text' name='input6' value=''>
  </br>
  </br>
<input type="submit">
</form>

<form method="POST" action="">
  condition: <input type='text' name='input7' value=''>
  keywords: <input type='text' name='input8' value=''>
  </br>
  </br>
<input type="submit">
</form>



<h2>Search results</h2>

<table border=1>

    <td><b>strain 1</b></td> <!--simply wrap the <b> tag outside of the whole table didn't work-->
    <td><b>strain 2</b></td>
    <td><b>pcc</b></td>
    <td><b>spearman</b></td>
    <td><b>mi</b></td>
    <td><b>ternary mi</b></td>
    <td><b>ternary mi - condition collapsed</b></td>

                {% for result_ in result %} <!-- this is Jinja -->
                    <tr>

                        <td>{{ result_[0] }}</td>
                        <td>{{ result_[1] }}</td>
                        <td>{{ result_[2] }}</td>
                        <td>{{ result_[3] }}</td>
                        <td>{{ result_[4] }}</td>
                        <td>{{ result_[5] }}</td>
                        <td>{{ result_[6] }}</td>
                    </tr>
                {%  endfor %}
</table>


</body>
</html>