<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nichols 2011 Escherichia coli data query - OMPwiki</title>
    <link href="/static/my_CSS.css" rel="stylesheet"/>
</head>
<body>


<h1>Nichols 2011 Escherichia coli data query</h1>

<h2>Background</h2>
This databrowser queries data from Nichols et al. 2011 Cell article <a href="https://www.ncbi.nlm.nih.gov/pubmed/21185072">(PUBMED)</a>.


<h2>References</h2>


<h2>Search</h2>
Select a search type:



			<h2>Based on</h2>





<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Growth data (Strain/Condition)'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Correlations among conditions'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Correlations among strains'>
</form></br>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='Conditions'>
</form></br>





				<label for='conditional input 1'>conditional input 1</label>
				<input id='conditional input 1' type='text' name='' value=''></br>

				<label for='conditional input 2'>conditional input 2</label>
				<input id='conditional input 2' type='text' name='' value=''>



<form action="http://peterwu19881230.pythonanywhere.com/hello/" method="get">
				<input type='submit' name='' value='SUBMIT'>
</form>


			<h2>Display search results</h2>

			<table border=1>
                {% for result_ in result %} <!-- this is Jinja -->
                    <tr>
                        <td>{{ result_[0] }}</td>
                        <td>{{ result_[1] }}</td>
                        <td>{{ result_[2] }}</td>
                        <td>{{ result_[3] }}</td>
                        <td>{{ result_[4] }}</td>
                        <td>{{ result_[5] }}</td>
                        <td>{{ result_[6] }}</td>
                    </tr>
                {%  endfor %}
</table>


</body>
</html>